/* body{
  background-color: red;
} */
.test{
  /* background-color: red; */
  background-image: url('../img/more5.png');
  transform: rotate(45deg);
  transition: all .5s;
}
.a{
  background-color: aliceblue;
}